.ufo {
  background-size: contain;
  cursor: pointer;
  left: -$balloon-img-width;
  position: absolute;
  top: 50%;
}

// Mobile
@media all and (max-width: $mobile-width) {
  .ufo {
    width: 100px;
  }
}
